*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Cooperltbr";
}
html,body{
    width:100%;
    height:100%;
    
}

#main{
    width: 100%;
    height:100%;
    background-color: #ffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 220, 220);
}
#nav{
    height:100px;
    width: 100%;
    position: fixed;
    top:0px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
#nav>h1{
    font-size: 30px;
    font-weight: 120;

}
#nav #part2{
    display:flex;
    align-items: center;
    justify-content: center;
}
#nav #part2 a{
    text-decoration: none;
    color: #222;
    margin: 20px;
}
#nav #part2 a:nth-last-child(1){
    padding: 7px 18px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 1px solid #111;
}
#nav #part2 a:nth-last-child(1) #green{
    width: 100%;
    height:100%;
    background-color: springgreen;
    position: absolute;
    top:0%;
    left:-100%;
    transition: 0.4s ease;
}
#nav #part2 a:nth-last-child(1) h5{
    font-weight: 100;
    position: relative;
    z-index: 99;
}
#nav #part2 a:nth-last-child(1):hover #green{

    left: 0;

}
#part2:hover{
    font-weight: 600;
    transition: 1s ease;
    color: white;
}
#main>h1{
    font-size: 5.4vh;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
    width:60%;
    position: relative;
    z-index: 99;

}
#main>h1::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 14px;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    bottom: -21%;
    left:40%;
    background-size: cover;
    transform: translate(-50%, 0)
}
#main #img1{
    height: 400Px;
    width: 290px;
    position: absolute;
    left:6%;
    top:20%;
    background-position: cover;
    border-radius: 20px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    
}
#img1 img:hover{
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#main #img2{
    height: 210Px;
    width: 230px;
    position: absolute;
    right:25%;
    top:14%;
    border-radius: 20px;
}
#main #img3{
    height: 210Px;
    width: 200px;
    position: absolute;
    right:17%;
    bottom:6%;
    border-radius: 20px;
}
@media (max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    
    }
    #main #right{
        width: 100%;
    }
}
